@media screen and (min-device-width: 320px) and (max-device-width: 425px) {

    .muted {
        font-size: 9px;
    }

    #inputcent {
        justify-content: center;
    }

    .check span {
        font-size: 12px;
    }

    .canvas {
        height: 443px;

    }


    .modal-title {
        font-size: 15px;

    }

    .form-control1 {
        width: 37px;
        height: 26px;
    }

    .form-control2 {
        width: 37px;
        height: 26px;
    }

    .form-label {
        font-size: 10px;

    }

    .scroll {
        height: 155px;

    }

    .label {
        font-size: 8px;
    }

  

    .card-wrap h6 {
        font-size: 14px;
    }

    .check span {
        font-size: 10px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .scroll {
        height: 182px;
    }

    .card-wrap h6 {

        font-size: 14px;
    }

    #text {
        width: 80%;
    }

}


@media screen and (min-device-width: 992px) and (max-device-width: 1024px) {
    #text {
        width: 208px;

    }

    span {
        font-size: 13px;

    }

    #label1 {
        font-size: 10px;
    }

    label {
        font-size: 10px;

    }

    #activateBuzz {
        height: 24px;
        width: 51px;

    }

    .blank-content {
        width: 424px;
        height: 265px;
    }
    
}

@media only screen and (max-width: 600px) {

    .scroll {
        height: 184px;
    }
}

@media only screen and (max-width: 1024px) {

    .scroll {
        height: 247px;

    }
}